@font-face {
	font-family: commo;
	font-style: normal;
	font-weight: normal;
	src: url("commo.ttf") format("truetype");
}

body { 
	font-family: sans-serif;
	text-align: center; 
	background-image: url(bg10.png);
}

ol#rules {
	text-align: left;
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 1em;
	padding-bottom: 1em;
}

ol#rules li {
	line-height: 150%;
}

h1, h2, #score { 
	font-family: commo; 
}

a {
	font-weight: bold;
	color: black;
}

canvas {
	cursor: not-allowed;
	max-width: 100%;
}

button, select, input {
	font-size: 120%;
}

footer {
	clear: both;
	padding-top: 10em;
	font-size: 80%;
	text-align: center;
}

#score {
	margin: auto;
	font-size: 150%;
}

#setup > div {
	position: relative;
	width: 40%;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	margin: 1em 0;

}

#setup #local {
	float: left;
	margin-left: 5%;
	border-color: rgb(150, 150, 250);
	background-color: rgba(150, 150, 250, 0.5);
}

#setup #multiplayer {
	float: right;
	margin-right: 5%;
	border-color: rgb(250, 150, 150);
	background-color: rgba(250, 150, 150, 0.5);
}

#multiplayer::after {
	content: url(firebase2.svg);
	width: 180px;
	position: absolute;
	left: -50px;
	top: 50%;
	transform: rotate(-90deg);
}

@media all and (max-width: 800px) {
	#setup > div {
		float: none;
		width: 90%;
		margin: 1em auto;
	}
}