@font-face {
	font-family: commo;
	font-style: normal;
	font-weight: normal;
	src: url("commo.ttf") format("truetype");
}

body { 
	text-align: center; 
	background-color: #eee;
	text-shadow: 0px 1px 1px white;
}

ol#rules {
	text-align: left;
}

ol#rules li {
	line-height: 150%;
}

h1, h2, #score { 
	font-family: commo; 
}

a {	
	font-weight: bold;
	color: black;
}

canvas { 
	cursor: not-allowed;
}

p#loading {
	margin: 1em;
}

#score {
	margin: auto;
	font-size: 150%;
}

#local, #multiplayer {
	float: left;
	width: 30%;
	margin: 10% 10% 0 10%;
	background-color: #ccc;
	border-radius: 20px;
	box-shadow: 0px 0px 3px black;
}
